{% extends 'forum-admin/base.html' %}

{% load static %}
{% load forum_tags %}
{% load humanize %}

{% block title %}Forum{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'flowbite/flowbite.min.css' %}">
<script src="{% static 'flowbite/flowbite.min.js' %}"></script>
<style>
    .indicator {
        display: block !important;
        width: auto !important;
    }


    @media screen and (max-width: 1226px) {
        .sidebar {
            display: none !important;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="text-white max-w-screen-2xl mx-auto mt-16 flex">
    <div class="flex-grow">
        {% include 'welcome_messages.html' %}
        <span class="latest-post-title font-bold">Latest Posts</span>
        <div class="five-latest-post-container">
            {% for post in five_latest_posts %}
            {% if request.user.is_authenticated %}
            {% is_user_viewed_post post request.user.profile as IUVP %}
            {% endif %}
            <div class="mt-3 rounded {% if post.is_locked or post.is_pinned %}indicator{% endif %}">
                {% if post.is_locked %}
                <span class="indicator-item indicator-top indicator-start cursor-default {% if post.is_pinned %}ml-5{% endif %}">
                    <div class="tooltip" data-tip="Locked">🔒</div>
                </span>
                {% endif %}
                {% if post.is_pinned %}
                <span class="indicator-item indicator-top indicator-start cursor-default">
                    <div class="tooltip" data-tip="Pinned" style="transform: rotate(282deg);">📌</div>
                </span>
                {% endif %}
                <div class="py-4 bg-gray-800 hover:bg-gray-700 mt-1 rounded ">
                    <div class="flex justify-between items-center px-4">
                        <div class="flex items-center">
                            <div class="flex items-center mr-4">
                                <img src="{{ post.author.image.url }}" alt="{{ post.author }}" class="h-10 w-10 rounded-full mr-3 border border-neutral">
                                <div class="ml-2 lg:w-96 md:w-64 sm:w-40"> <!-- Adjust the width here -->
                                    <div class="{% if not IUVP %}font-bold{% endif %} break-words thread-title">
                                        {% if post.prefix %}<div class="badge badge-sm border-0 drop-shadow-none rounded-sm" id="prefix-badge" style="{{ post.prefix.get_prefix_style }}">{{ post.prefix }}</div> {% endif %}
                                        <a class="link no-underline text-sm {% if IUVP %}text-gray-300{% else %}text-white{% endif %}" href="{% url 'view-post-page' title_slug=post.slug %}">
                                            {{ post.title }} 
                                        </a>
                                    </div>
                                    <div class="text-gray-400 text-xs">
                                        <a class="link no-underline">
                                            {{ post.author.get_formatted_name }}
                                        </a> 
                                        · 
                                        <a class="link no-underline" href="{% url 'view-post-page' title_slug=post.slug %}">
                                            {{ post.formatted_created_at }}
                                        </a> 
                                        · 
                                        <a class="link no-underline" href="{% url 'view-node-page' post.node.slug %}">
                                            {{ post.node.name }}
                                        </a>
                                        <span class="sm:hidden"> 
                                            · Replies:&nbsp;{{ post.total_replies }} · Views:&nbsp;{{ post.total_views }} · Latest Reply:<a class="link no-underline">&nbsp;{{ post.get_latest_reply.formatted_created_at }}&nbsp;by&nbsp;{{ post.get_latest_reply_author.get_formatted_name }}</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center space-x-4">
                            <div class="hidden sm:flex flex-col space-y-1 lg:w-28 md:w-20 sm:w-20 lg:mr-28 sm:mr-16">
                                <div class="flex justify-between">
                                    <div class="font-semibold text-sm text-gray-400">
                                        Replies:
                                    </div>
                                    <div class="font-semibold text-sm text-gray-400">
                                        {{ post.total_replies }}
                                    </div>
                                </div>
                                <div class="flex justify-between">
                                    <div class="font-semibold text-xs text-gray-400">
                                        Views:
                                    </div>
                                    <div class="font-semibold text-xs text-gray-400">
                                        {{ post.total_views }}
                                    </div>
                                </div>
                            </div>              
                            <div class="divider divider-horizontal mr-5"></div>     
                            <div class="text-end lg:mr-28 sm:mr-16 hidden sm:block lg:w-40 md:w-32 sm:w-16">
                                <div class="font-semibold text-gray-300 text-xs">
                                    <a class="link no-underline whitespace-break-spaces" href="{% url 'view-post-page' post.slug %}">
                                        {{ post.get_latest_reply.formatted_created_at }}
                                    </a>
                                </div>
                                <div class="text-gray-400 text-sm">
                                    <a class="link no-underline whitespace-break-spaces">
                                        {{ post.get_latest_reply_author.get_formatted_name }}
                                    </a>
                                </div>
                            </div>
                            <img src="{{ post.get_latest_reply_author.image.url }}" alt="{{ post.get_latest_reply_author }}" class="h-7 w-7 rounded-lg mr-3 hidden sm:block border border-neutral">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <br>

        <div class="forum-wrapper">
            <span class="latest-post-title font-bold mt-3">Forum</span>
            {% for forum in forums %}
            <div class='{{ forum.slug }}'>
                <div class="mt-4 rounded"> 
                    <!-- add indicator if indicator needed -->
                    <!-- <span class="indicator-item indicator-center badge">{{ forum.upper_title }}</span> -->
                    <div class="py-4 bg-gray-900 mt-1 rounded-t-md">
                        <div class="flex justify-between items-center px-4">
                            <div class="flex items-center">
                                <div class="flex items-center mr-4">
                                    <i data-feather="{{ forum.feather_icon }}" class="h-7 w-7 rounded-lg mr-3 ml-2 hidden sm:block"></i>
                                    <div class="ml-2 lg:w-96 md:w-64 sm:w-40"> <!-- Adjust the width here -->
                                        <div class="font-semibold break-words thread-title">
                                            <a class="link no-underline" href="{% url 'view-forum-page' forum.slug %}">
                                                {{ forum.upper_title }}
                                            </a>
                                        </div>
                                        <div class="text-gray-400 text-sm">
                                            {{ forum.description }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='dog'>
                    {% for node in forum.node_set.all %}
                    {% if request.user.is_authenticated %}
                    {% is_new_post_in_node node request.user.profile as INPIN %}
                    {% endif %}
                    <div class="bg-gray-800 border-t-2 border-gray-700 {% if forloop.last %}rounded-b-md{% endif %}">
                        <div class="flex relative w-full">
                            <div class="py-4 ps-4 inline-block relative align-top text-center shrink-0"><i data-feather="corner-down-right" class="text-gray-400 mr-2 ml-1"></i></div>
                            <div class="p-4 grow inline-block align-middle" style="width: calc(100% - 20px) !important;">
                                <h3>
                                    <a class="link no-underline text-sm" href="{% url 'view-node-page' node.slug %}">
                                        {{ node }}&nbsp;{% if INPIN %}<div class="badge badge-warning badge-sm text-xs">NEW</div>{% endif %}
                                    </a>
                                </h3>
                                <div class="text-xs text-gray-400">
                                    <div class="text-clip overflow-hidden">
                                        <span class="hidden md:block">
                                            {% if node.display_description %}
                                            {{ node.description }}
                                            {% endif %}
                                        </span>
                                        <span class="sm:hidden">
                                            Messages: {{ node.total_replies }} 
                                            · Posts: {{ node.total_posts }} 
                                            {% if node.get_latest_post_or_reply %}
                                            · Latest {% if node.get_latest_reply %}Reply{% elif node.get_latest_post %}Post{% endif %}:
                                            <a class="link no-underline" 
                                                {% if node.get_latest_reply %}
                                                href="{% url 'view-post-page' node.get_latest_reply.post.slug %}"
                                                {% elif node.get_latest_post %}
                                                href="{% url 'view-post-page' node.get_latest_post.slug %}"
                                                {% endif %}
                                            >
                                                &nbsp;{{ node.get_latest_post_or_reply.formatted_updated_at }}
                                                &nbsp;by&nbsp;{{ node.get_latest_post_or_reply.author.get_formatted_name }}
                                            </a>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                <div class="mt-1 text-xs text-gray-400 hidden sm:block">
                                    {% for child_node in node.children_nodes.all %}
                                    <a class="link link-hover" href="{% url 'view-node-page' node.slug %}">
                                        📁&nbsp;{{ child_node }}
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="hidden sm:inline-flex text-center items-center align-middle w-36 min-w-36 py-4">
                                <div class="flex flex-col items-center w-2/4 pr-4 float-left">
                                    <div class="font-semibold text-xs text-gray-400">
                                        Posts
                                    </div>
                                    <div class="font-semibold text-xs text-white">
                                        {{ node.total_posts }}
                                    </div>
                                </div>
                                <div class="divider divider-horizontal mx-0 h-8 my-auto"></div>
                                <div class="flex flex-col items-center w-2/4 pl-2 float-left">
                                    <div class="font-semibold text-xs text-gray-400">
                                        Messages
                                    </div>
                                    <div class="font-semibold text-xs text-white">
                                        {{ node.total_replies }}
                                    </div>
                                </div>   
                            </div>
                            <div class="hidden sm:inline-flex text-center items-center w-80 p-4 align-middle">
                                <div class="float-left block pr-2">
                                    {% if node.get_latest_post_or_reply.author.image.url %}
                                    <img src="{{ node.get_latest_post_or_reply.author.image.url }}" alt="Avatar" class="w-12 rounded-lg hidden sm:block border border-neutral">
                                    {% endif %}
                                </div>
                                <div class="flex-wrap min-w-0 max-w-full flex-col w-full ">
                                    <div class="font-semibold text-gray-300 text-sm text-xs text-start">
                                        <a class="link no-underline whitespace-break-spaces whitespace-normal" 
                                            {% if node.get_latest_reply %}
                                            href="{% url 'view-post-page' node.get_latest_reply.post.slug %}"
                                            {% elif node.get_latest_post %}
                                            href="{% url 'view-post-page' node.get_latest_post.slug %}"
                                            {% endif %}
                                        >
                                            {% if node.get_latest_reply %}
                                            {{ node.get_latest_reply.post.title }}
                                            {% elif node.get_latest_post %}
                                            {{ node.get_latest_post.title }}
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="text-gray-400 text-[0.60rem] text-start">
                                        <a class="link no-underline whitespace-break-spaces"
                                            {% if node.get_latest_reply %}
                                            href="{% url 'view-post-page' node.get_latest_reply.post.slug %}"
                                            {% elif node.get_latest_post %}
                                            href="{% url 'view-post-page' node.get_latest_post.slug %}"
                                            {% endif %}
                                        >
                                            {% if node.get_latest_post_or_reply %}
                                            {{ node.get_latest_post_or_reply.formatted_updated_at }} · {{ node.get_latest_post_or_reply.author.get_formatted_name }}
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if forloop.last %}
            <div class="mb-16"></div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="hidden lg:block md:hidden sm:hidden w-72 ml-5 {% if not welcome_messages or request.user.profile.hide_welcome_message %}mt-9{% endif %} sidebar">
        {% if request.user.is_authenticated %}
        <div class="h-auto p-4 bg-gray-800 rounded">
            <div>
                <div class="flex break-all">
                    <div class="avatar">
                        <div class="w-20 rounded-md">
                            <img src="{{ request.user.profile.image.url }}" alt="{{ request.user.profile }}" class="object-cover w-full h-full" />
                        </div>
                    </div>
                    <div class="flex flex-col flex-grow ml-3">
                        <div class="text-white text-sm">
                            <a class="link no-underline">
                                {{ request.user.profile.get_formatted_name }}
                            </a>
                        </div>
                        <div class="text-gray-400 text-sm">
                            {{ request.user.profile.get_first_membership }}
                        </div>
                    </div>
                </div>
                <div class="text-gray-400 text-sm mt-2 flex justify-between">
                    <div class="text-start">Messages:</div>
                    <div class="text-end">{{ request.user.profile.get_total_messages }}</div>
                </div>
                <div class="text-gray-400 text-sm flex justify-between">
                    <div class="text-start">Reaction Score:</div>
                    <div class="text-end">{{ request.user.profile.get_total_likes }}</div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="h-auto p-4 bg-gray-800 mt-2 rounded">
            <div class="flex flex-col mt-2 font-bold text-center">
                <span class="text-white">STATUS UPDATES</span>
                <div class="divider my-2"></div>
            </div>
            <div>
                {% if request.user.is_authenticated %}
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text text-xs">Update your status</span>
                    </div>
                    <div class="join">
                        <input type="text" placeholder="Type here" class="input input-bordered input-sm w-full max-w-xs mb-4 join-item bg-gray-900 focus:outline-none" />
                        <button class="btn join-item input-bordered bg-gray-900 rounded-r-full btn-sm hover:bg-gray-900">Submit</button>
                    </div>
                </label>
                {% endif %}
                {% for status in statuses %}
                <div class="flex {% if not forloop.first %}mt-2{% endif %} break-all">
                    <div class="avatar">
                        <div class="w-8 h-8 rounded-md mt-1">
                            <a class="link no-underline">
                                <img src="{{ status.author.image.url }}" alt="{{ status.author }}" class="object-cover w-full h-full" />
                            </a>
                        </div>
                    </div>
                    <div class="flex flex-col flex-grow ml-3">
                        <div class="text-white text-sm">
                            <a class="link no-underline">
                                {{ status.author.get_formatted_name }}
                            </a>
                        </div>
                        <div class="text-gray-400 text-sm">
                            {{ status.content }}
                        </div>
                        <div class="text-gray-400 text-xs mt-1">
                            <div class="divider divider-start m-0">
                                <a class="link no-underline">
                                    {{ status.formatted_created_at }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="h-auto p-4 bg-gray-800 mt-2 rounded">
            <div class="flex flex-col mt-2 font-bold text-center">
                <span class="text-white">ONLINE USERS</span>
                <div class="divider my-2"></div>
            </div>
            <div class="users-viewers text-xs">
                {% if online_users %}
                {% for profile in online_users %}
                    {{ profile.get_formatted_name }}{% if not forloop.last %},{% endif %}
                {% endfor %}
                {% else %}
                <span class="text-gray-500 italic">None</span>
                {% endif %}
                <div class="divider my-2"></div>
            </div>
            <div class="text-xs font-semibold text-gray-500 flex"> 
                Total: {{ online_users|length|intcomma }}
            </div>
        </div>
        <div class="h-auto p-4 bg-gray-800 mt-2 rounded">
            <div class="flex flex-col mt-2 font-bold text-center">
                <span class="text-white">FORUM STATISTICS</span>
                <div class="divider my-2"></div>
            </div>
            <div class="text-sm flex justify-between">
                <div class="text-start">
                    Posts:
                </div>
                <div class="text-end">
                    {{ total_posts }}
                </div>
            </div>
            <div class="text-sm flex justify-between mt-1">
                <div class="text-start">
                    Messages:
                </div>
                <div class="text-end">
                    {{ total_replies }}
                </div>
            </div>
            <div class="text-sm flex justify-between mt-1">
                <div class="text-start">
                    Users:
                </div>
                <div class="text-end">
                    {{ total_members }}
                </div>
            </div>
            <div class="text-sm flex justify-between mt-1">
                <div class="text-start">
                    Latest Member:
                </div>
                <div class="text-end">
                    {{ latest_member.get_formatted_name }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ welcome_messages_raw|json_script:"welcome_messages" }}
{% endblock %}

{% block scripts %}

<script>
    var welcome_messages = JSON.parse(document.getElementById('welcome_messages').textContent);
    console.log(welcome_messages)
    // console.log(document.getElementById('foo').offsetWidth)
</script>

{% endblock %}